<html>
    <head>
        <title>Django yeoandante's blog</title>
    </head>
    <body>
    <div>
        <h1><a href="#">Andante's Blog</a></h1>
    </div>

<!--    <div>-->
<!--        <p>Published: 12.09.2019, 18:30</p>-->
<!--        <h2><a href="">My First post</a></h2>-->
<!--            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aspernatur in nam numquam sed. Aliquam atque cumque deserunt distinctio ipsum laboriosam praesentium sint velit! Harum iusto labore molestias obcaecati rerum sed.</p>-->
<!--    </div>-->

<!--    <div>-->
<!--        <p>Published: 12.09.2019, 20:11</p>-->
<!--        <h2><a href="">My Second post</a></h2>-->
<!--        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequuntur error eveniet fugiat voluptate! Autem dolore, molestias neque nisi nostrum nulla qui quo quod repudiandae, sit tempore, unde veritatis vitae! Veniam?</p>-->
<!--    </div>-->
    {% for post in posts %}
    <div>
        <p>published : {{ post.published_date }}</p>
        <h1><a href="">{{ post.title }}</a></h1>
        <p>{{ post.text|linebreaksbr }}</p>
    </div>
    {% endfor %}
    </body>
</html>